@import '../../assets/styles/colors';

.record {
  border-top: 1px solid $manatee-500;
  padding-right: 1rem;

  .record-title {
    font-size: 1.25rem;

    @media screen and (max-width: 575px) {
      font-size: 1.1rem;
    }
  }

  .record-value {
    color: $alice-blue-600;
    margin-left: 7px;
  }
}