.error-indicator {
  display: flex;
  flex-flow: column;
  row-gap: 1rem;
  padding: 2rem;

  .error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;

    .error-boom {
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 600;
    }
  }
}