@import '../../assets/styles/colors';

@mixin selected {
  color: $imperial-red-400;
  font-weight: 700;
}

.item-list {
  padding: 0 1.5rem;
  margin: 0;

  .list-item {
    padding: 0.25rem 0;
    cursor: pointer;

    span:nth-of-type(1) {
      font-size: 1.25rem;
    }

    span:nth-of-type(2) {
      font-size: 1rem;
      color: $manatee-500;
      margin-left: 0.5rem;
    }

    &:hover {
      @include selected;

      &::marker {
        color: $amaranth-red-500;
      }
    }

    &.active {
      @include selected;
    }
  }
}
