@import '../../assets/styles/colors';

.random-planet {
  display: grid;
  column-gap: 2rem;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;

  @media screen and (max-width: 767px) {
    grid-template-columns: none;
    grid-auto-flow: row;
    row-gap: 2rem;
    justify-items: center;
  }

  .planet-img {
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px $space-cadet-600;

    @media screen and (max-width: 767px) {
      width: 18rem;
      height: 18rem;
    }
  }

  .planet-name {
    font-size: 2.25rem;
    line-height: 1;
  }

  .planet-info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: max-content;
    list-style: none;
    padding: 1.5rem 0;
    margin: 0;
    min-width: 16rem;

    li {
      font-size: 1.25rem;
      border-top: 1px solid $manatee-500;
      padding-right: 1rem;
    }
  }
}

