@import '../../assets/styles/colors';

#navigation {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 7rem;
  grid-template-columns: 1fr 1.5fr;

  @media screen and (max-width: 991px) {
    column-gap: 3rem;
  }

  @media screen and (max-width: 767px) {
    column-gap: 1rem;
    grid-template-columns: auto 1fr;
  }

  .logo {
    display: flex;
    column-gap: 1.25rem;
    align-items: center;
    cursor: pointer;

    .logo-img {
      height: 5rem;
      width: 5rem;

      @media screen and (max-width: 575px) {
        height: 4rem;
        width: 4rem;
      }
    }

    .logo-name {
      font-size: 3.25rem;
      font-weight: 700;
      white-space: nowrap;

      @media screen and (max-width: 991px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1rem 0 0;
    margin: 0;

    @media screen and (max-width: 767px) {
      padding: 0;
      justify-content: space-around;
    }

    .nav-item {
      cursor: pointer;
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 1;

      @media screen and (max-width: 575px) {
        font-size: 1.3rem;
        font-weight: 600;
      }

      .nav-item__active {
        color: $imperial-red-400;
      }

      &:hover {
        color: $imperial-red-400;
      }
    }
  }
}
