@import '../shared/assets/styles/colors';
@import '../shared/assets/styles/fonts';
@import '../shared/assets/styles/wrappers';

body {
  margin: unset;
  background-color: $space-cadet-600;
  color: $alice-blue-500;
  font-family: 'Titillium';
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin: 0;
}

#container {
  display: grid;
  row-gap: 2rem;
  padding: 2rem;
  margin: auto;
  max-width: 900px;

  @media screen and (max-width: 575px) {
    padding: 2rem 1rem;
  }
}
