@font-face {
  font-family: 'Titillium';
  font-weight: 200;
  src: local('Titillium'), url(../fonts/TitilliumWeb-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 200;
  font-style: italic;
  src: local('Titillium'), url(../fonts/TitilliumWeb-ExtraLightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 300;
  src: local('Titillium'), url(../fonts/TitilliumWeb-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 300;
  font-style: italic;
  src: local('Titillium'), url(../fonts/TitilliumWeb-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 400;
  src: local('Titillium'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 400;
  font-style: italic;
  src: local('Titillium'), url(../fonts/TitilliumWeb-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 600;
  src: local('Titillium'), url(../fonts/TitilliumWeb-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 600;
  font-style: italic;
  src: local('Titillium'), url(../fonts/TitilliumWeb-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 700;
  src: local('Titillium'), url(../fonts/TitilliumWeb-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 700;
  font-style: italic;
  src: local('Titillium'), url(../fonts/TitilliumWeb-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 900;
  src: local('Titillium'), url(../fonts/TitilliumWeb-Black.ttf) format('truetype');
}
