@import '../../assets/styles/colors';

.two-col-container {
  display: grid;
  column-gap: 2rem;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));

  @media screen and (max-width: 767px) {
    column-gap: unset;
    row-gap: 2rem;
    grid-auto-flow: row;
    grid-template-columns: unset;
  }
}

.box-container {
  padding: 1.25rem 2rem;
  height: max-content;
  border-radius: 1rem;
  border: 1px solid $manatee-700;
  background-color: $space-cadet-400;

 @media screen and (max-width: 575px) {
  padding: 1.25rem 1.25rem;
 }
}
