@import '../../assets/styles/colors';

.details {
  display: grid;
  column-gap: 2rem;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;

  .details-img {
    width: 10rem;
    max-height: 14rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px $space-cadet-600;

    @media screen and (max-width: 991px) {
      width: 8.5rem;
    }

    @media screen and (max-width: 767px) {
      width: 7rem;
    }
  }

  .details-info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: max-content;
    list-style: none;
    padding: 1.5rem 0;
    margin: 0;

    @media screen and (max-width: 575px) {
      grid-template-columns: auto;
    }
  }
}

.details-empty {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
